<div>
  <div id="search-box-container">
    <div>
      <form>
        <md-input-container id="search-box">
          <input mdInput placeholder="Search Hotels" name="searchBox" [(ngModel)]="searchStr">
        </md-input-container>
      </form>
    </div>
    <div class="search-box-info">
      <span>{{searchResultInfo.searchCount}}/{{searchResultInfo.totalCount}}</span>
      <span class="search-icon"><md-icon>search</md-icon></span>
    </div>
  </div>
  <div>
    <hotel *ngFor="let hotel of hotels | filter:['name']:searchStr:searchResultInfo" [hotel]="hotel"></hotel>
  </div>
  <div *ngIf="searchResultInfo.searchCount == 0">
    <span>Sorry we could not find any items matching your search</span>
  </div>
</div>
